In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta, date

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import sys
sys.path.append('../')

from axia.shifted_beta_geometric import ShiftedBetaGeometric
from axia.sbg_survival import SBGSurvival
from axia import util
from axia import report
from axia import loader

from importlib import reload

# Data: Load, Preprocess, and Split

In [2]:
jobber_data = loader.JobberDataLoader(path="../data/")
raw_data = jobber_data.get_data()
raw_data = raw_data.sample(100, random_state=189723)

In [76]:
%%time
reload(util)
data = util.SubscriptionData(
    data=raw_data,
    start_date_col="first_paying_date",
    end_date_col="last_churn_date",
    subscription_initial="initial_subscription_amt",
    subscription_current="current_subscription_amt",
    additional_cols=[raw_data["frequency"].astype("category")] + [
        raw_data[col].apply(func).astype("category")
        for col, func in jobber_data.transformations.items()
    ],
    split_at=datetime(2018, 1, 1),
#     split_at=datetime.now(),
)

CPU times: user 1.46 s, sys: 4.16 ms, total: 1.47 s
Wall time: 1.47 s

In [65]:
raw_data.loc[1802]

country                                Australia
industry                             Renovations
account_created_date         2013-01-30 00:00:00
first_paying_date            2013-03-02 00:00:00
last_churn_date              2016-05-20 00:00:00
days_to_paying                                31
initial_subscription_amt                      38
current_subscription_amt                      29
frequency                                monthly
current_billing_frequency                monthly
is_paying                                      0
paying_months                                 29
tot_revenue                                 1003
Name: 1802, dtype: object

In [50]:
data.cdtr.sort_values("end_date", ascending=False)

                        start_date   end_date  age  alive  is_starting_month  \
account_id end_of_month
42851      2017-04-30   2015-12-01 2017-12-01   16      1                  0
           2016-02-29   2015-12-01 2017-12-01    2      1                  0
           2016-04-30   2015-12-01 2017-12-01    4      1                  0
           2016-05-31   2015-12-01 2017-12-01    5      1                  0
           2016-07-31   2015-12-01 2017-12-01    7      1                  0
           2016-08-31   2015-12-01 2017-12-01    8      1                  0
           2016-09-30   2015-12-01 2017-12-01    9      1                  0
           2016-10-31   2015-12-01 2017-12-01   10      1                  0
           2016-11-30   2015-12-01 2017-12-01   11      1                  0
           2016-12-31   2015-12-01 2017-12-01   12      1                  0
           2017-01-31   2015-12-01 2017-12-01   13      1                  0
           2017-02-28   2015-12-01 2017-12-01   14      1                  0
           2017-03-31   2015-12-01 2017-12-01   15      1                  0
           2017-05-31   2015-12-01 2017-12-01   17      1                  0
           2017-06-30   2015-12-01 2017-12-01   18      1                  0
           2017-07-31   2015-12-01 2017-12-01   19      1                  0
           2017-08-31   2015-12-01 2017-12-01   20      1                  0
           2017-09-30   2015-12-01 2017-12-01   21      1                  0
           2017-10-31   2015-12-01 2017-12-01   22      1                  0
           2017-11-30   2015-12-01 2017-12-01   23      1                  0
           2017-12-31   2015-12-01 2017-12-01   24      0                  0
52643      2016-09-30   2016-06-01 2017-12-01    3      1                  0
           2016-08-31   2016-06-01 2017-12-01    2      1                  0
           2016-07-31   2016-06-01 2017-12-01    1      1                  0
           2016-06-30   2016-06-01 2017-12-01    0      1                  1
42851      2016-03-31   2015-12-01 2017-12-01    3      1                  0
           2016-06-30   2015-12-01 2017-12-01    6      1                  0
           2016-01-31   2015-12-01 2017-12-01    1      1                  0
52643      2017-05-31   2016-06-01 2017-12-01   11      1                  0
           2017-12-31   2016-06-01 2017-12-01   18      0                  0
...                            ...        ...  ...    ...                ...
54792      2016-10-31   2016-07-01        NaT    3      1                  0
           2016-11-30   2016-07-01        NaT    4      1                  0
           2016-12-31   2016-07-01        NaT    5      1                  0
           2017-01-31   2016-07-01        NaT    6      1                  0
           2017-02-28   2016-07-01        NaT    7      1                  0
           2017-03-31   2016-07-01        NaT    8      1                  0
           2017-04-30   2016-07-01        NaT    9      1                  0
           2017-05-31   2016-07-01        NaT   10      1                  0
           2017-06-30   2016-07-01        NaT   11      1                  0
           2017-07-31   2016-07-01        NaT   12      1                  0
           2017-08-31   2016-07-01        NaT   13      1                  0
           2017-09-30   2016-07-01        NaT   14      1                  0
           2017-10-31   2016-07-01        NaT   15      1                  0
           2017-11-30   2016-07-01        NaT   16      1                  0
           2017-12-31   2016-07-01        NaT   17      1                  0
62851      2016-10-31   2016-10-01        NaT    0      1                  1
           2016-11-30   2016-10-01        NaT    1      1                  0
           2016-12-31   2016-10-01        NaT    2      1                  0
           2017-01-31   2016-10-01        NaT    3      1                  0
           2017-02-28   2016-10-01        NaT    4      1                  0
           2017-03-31   2016-10-01        NaT    5      1                  0
           2017-04-30   2016-10-01        NaT    6      1                  0
           2017-05-31   2016-10-01        NaT    7      1                  0
           2017-06-30   2016-10-01        NaT    8      1                  0
           2017-07-31   2016-10-01        NaT    9      1                  0
           2017-08-31   2016-10-01        NaT   10      1                  0
           2017-09-30   2016-10-01        NaT   11      1                  0
           2017-10-31   2016-10-01        NaT   12      1                  0
           2017-11-30   2016-10-01        NaT   13      1                  0
           2017-12-31   2016-10-01        NaT   14      1                  0

                         is_cancelation_month  months_alive  \
account_id end_of_month
42851      2017-04-30                       0            17
           2016-02-29                       0             3
           2016-04-30                       0             5
           2016-05-31                       0             6
           2016-07-31                       0             8
           2016-08-31                       0             9
           2016-09-30                       0            10
           2016-10-31                       0            11
           2016-11-30                       0            12
           2016-12-31                       0            13
           2017-01-31                       0            14
           2017-02-28                       0            15
           2017-03-31                       0            16
           2017-05-31                       0            18
           2017-06-30                       0            19
           2017-07-31                       0            20
           2017-08-31                       0            21
           2017-09-30                       0            22
           2017-10-31                       0            23
           2017-11-30                       0            24
           2017-12-31                       1            24
52643      2016-09-30                       0             4
           2016-08-31                       0             3
           2016-07-31                       0             2
           2016-06-30                       0             1
42851      2016-03-31                       0             4
           2016-06-30                       0             7
           2016-01-31                       0             2
52643      2017-05-31                       0            12
           2017-12-31                       1            18
...                                       ...           ...
54792      2016-10-31                       0             4
           2016-11-30                       0             5
           2016-12-31                       0             6
           2017-01-31                       0             7
           2017-02-28                       0             8
           2017-03-31                       0             9
           2017-04-30                       0            10
           2017-05-31                       0            11
           2017-06-30                       0            12
           2017-07-31                       0            13
           2017-08-31                       0            14
           2017-09-30                       0            15
           2017-10-31                       0            16
           2017-11-30                       0            17
           2017-12-31                       0            18
62851      2016-10-31                       0             1
           2016-11-30                       0             2
           2016-12-31                       0             3
           2017-01-31                       0             4
           2017-02-28                       0             5
           2017-03-31                       0             6
           2017-04-30                       0             7
           2017-05-31                       0             8
           2017-06-30                       0             9
           2017-07-31                       0            10
           2017-08-31                       0            11
           2017-09-30                       0            12
           2017-10-31                       0            13
           2017-11-30                       0            14
           2017-12-31                       0            15

                         subscription_value_base  subscription_value_linear  \
account_id end_of_month
42851      2017-04-30                       48.0                  48.000000
           2016-02-29                       48.0                  48.000000
           2016-04-30                       48.0                  48.000000
           2016-05-31                       48.0                  48.000000
           2016-07-31                       48.0                  48.000000
           2016-08-31                       48.0                  48.000000
           2016-09-30                       48.0                  48.000000
           2016-10-31                       48.0                  48.000000
           2016-11-30                       48.0                  48.000000
           2016-12-31                       48.0                  48.000000
           2017-01-31                       48.0                  48.000000
           2017-02-28                       48.0                  48.000000
           2017-03-31                       48.0                  48.000000
           2017-05-31                       48.0                  48.000000
           2017-06-30                       48.0                  48.000000
           2017-07-31                       48.0                  48.000000
           2017-08-31                       48.0                  48.000000
           2017-09-30                       48.0                  48.000000
           2017-10-31                       48.0                  48.000000
           2017-11-30                       48.0                  48.000000
           2017-12-31                        0.0                   0.000000
52643      2016-09-30                      100.0                  94.352941
           2016-08-31                      100.0                  96.235294
           2016-07-31                      100.0                  98.117647
           2016-06-30                      100.0                 100.000000
42851      2016-03-31                       48.0                  48.000000
           2016-06-30                       48.0                  48.000000
           2016-01-31                       48.0                  48.000000
52643      2017-05-31                      100.0                  79.294118
           2017-12-31                        0.0                   0.000000
...                                          ...                        ...
54792      2016-10-31                       68.0                  67.129032
           2016-11-30                       68.0                  66.838710
           2016-12-31                       68.0                  66.548387
           2017-01-31                       68.0                  66.258065
           2017-02-28                       68.0                  65.967742
           2017-03-31                       68.0                  65.677419
           2017-04-30                       68.0                  65.387097
           2017-05-31                       68.0                  65.096774
           2017-06-30                       68.0                  64.806452
           2017-07-31                       68.0                  64.516129
           2017-08-31                       68.0                  64.225806
           2017-09-30                       68.0                  63.935484
           2017-10-31                       68.0                  63.645161
           2017-11-30                       68.0                  63.354839
           2017-12-31                       68.0                  63.064516
62851      2016-10-31                       59.0                  59.000000
           2016-11-30                       59.0                  59.703704
           2016-12-31                       59.0                  60.407407
           2017-01-31                       59.0                  61.111111
           2017-02-28                       59.0                  61.814815
           2017-03-31                       59.0                  62.518519
           2017-04-30                       59.0                  63.222222
           2017-05-31                       59.0                  63.925926
           2017-06-30                       59.0                  64.629630
           2017-07-31                       59.0                  65.333333
           2017-08-31                       59.0                  66.037037
           2017-09-30                       59.0                  66.740741
           2017-10-31                       59.0                  67.444444
           2017-11-30                       59.0                  68.148148
           2017-12-31                       59.0                  68.851852

                         value_to_date_base  value_to_date_linear
account_id end_of_month
42851      2017-04-30                 816.0            816.000000
           2016-02-29                 144.0            144.000000
           2016-04-30                 240.0            240.000000
           2016-05-31                 288.0            288.000000
           2016-07-31                 384.0            384.000000
           2016-08-31                 432.0            432.000000
           2016-09-30                 480.0            480.000000
           2016-10-31                 528.0            528.000000
           2016-11-30                 576.0            576.000000
           2016-12-31                 624.0            624.000000
           2017-01-31                 672.0            672.000000
           2017-02-28                 720.0            720.000000
           2017-03-31                 768.0            768.000000
           2017-05-31                 864.0            864.000000
           2017-06-30                 912.0            912.000000
           2017-07-31                 960.0            960.000000
           2017-08-31                1008.0           1008.000000
           2017-09-30                1056.0           1056.000000
           2017-10-31                1104.0           1104.000000
           2017-11-30                1152.0           1152.000000
           2017-12-31                1152.0           1152.000000
52643      2016-09-30                 400.0            388.705882
           2016-08-31                 300.0            294.352941
           2016-07-31                 200.0            198.117647
           2016-06-30                 100.0            100.000000
42851      2016-03-31                 192.0            192.000000
           2016-06-30                 336.0            336.000000
           2016-01-31                  96.0             96.000000
52643      2017-05-31                1200.0           1075.764706
           2017-12-31                1800.0           1512.000000
...                                     ...                   ...
54792      2016-10-31                 272.0            270.258065
           2016-11-30                 340.0            337.096774
           2016-12-31                 408.0            403.645161
           2017-01-31                 476.0            469.903226
           2017-02-28                 544.0            535.870968
           2017-03-31                 612.0            601.548387
           2017-04-30                 680.0            666.935484
           2017-05-31                 748.0            732.032258
           2017-06-30                 816.0            796.838710
           2017-07-31                 884.0            861.354839
           2017-08-31                 952.0            925.580645
           2017-09-30                1020.0            989.516129
           2017-10-31                1088.0           1053.161290
           2017-11-30                1156.0           1116.516129
           2017-12-31                1224.0           1179.580645
62851      2016-10-31                  59.0             59.000000
           2016-11-30                 118.0            118.703704
           2016-12-31                 177.0            179.111111
           2017-01-31                 236.0            240.222222
           2017-02-28                 295.0            302.037037
           2017-03-31                 354.0            364.555556
           2017-04-30                 413.0            427.777778
           2017-05-31                 472.0            491.703704
           2017-06-30                 531.0            556.333333
           2017-07-31                 590.0            621.666667
           2017-08-31                 649.0            687.703704
           2017-09-30                 708.0            754.444444
           2017-10-31                 767.0            821.888889
           2017-11-30                 826.0            890.037037
           2017-12-31                 885.0            958.888889

[1622 rows x 11 columns]

In [41]:
data.cdtr.max()

start_date                   2017-12-01 00:00:00
end_date                     2019-02-01 00:00:00
age                                           64
alive                                          1
is_starting_month                              1
is_cancelation_month                           1
months_alive                                  65
subscription_value_base                      210
subscription_value_linear                    210
value_to_date_base                          9450
value_to_date_linear                     8528.28
dtype: object

In [48]:
data.dva.max()

start_date             2019-02-01
end_date               2019-02-01
age                           NaT
alive                         NaT
subscription_initial          NaT
subscription_last             NaT
subscription_current          NaT
dtype: datetime64[ns]

In [21]:
df = data.dtr.copy()

In [31]:
df['end_date'] = df["end_date"].apply(lambda dt: dt if dt < datetime(2018, 1, 1) else None)

In [34]:
df.head()

,start_date,end_date,age,alive,subscription_initial,subscription_last,subscription_current,frequency,country,industry
account_id,,,,,,,,,,
14934,2017-04-01,NaT,23,1,96.0,96.0,96.0,monthly,united_states,other_industry
6233,2014-02-01,NaT,61,1,44.0,53.0,53.0,monthly,united_states,pressure_washing_service
44628,2016-01-01,2016-04-01,3,0,59.0,59.0,0.0,monthly,united_states,other
42851,2015-12-01,2017-12-01,24,0,48.0,48.0,0.0,annual,united_states,other
86400,2017-07-01,NaT,13,0,58.0,58.0,0.0,annual,united_states,residential_cleaning

In [33]:
data.dtr

,start_date,end_date,age,alive,subscription_initial,subscription_last,subscription_current,frequency,country,industry
account_id,,,,,,,,,,
14934,2017-04-01,NaT,23,1,96.0,96.0,96.0,monthly,united_states,other_industry
6233,2014-02-01,NaT,61,1,44.0,53.0,53.0,monthly,united_states,pressure_washing_service
44628,2016-01-01,2016-04-01,3,0,59.0,59.0,0.0,monthly,united_states,other
42851,2015-12-01,2017-12-01,24,0,48.0,48.0,0.0,annual,united_states,other
86400,2017-07-01,2018-08-01,13,0,58.0,58.0,0.0,annual,united_states,residential_cleaning
35508,2015-07-01,NaT,44,1,39.0,48.0,48.0,annual,united_states,other_industry
77264,2017-04-01,NaT,23,1,69.0,78.0,78.0,monthly,united_states,window_washing
63231,2016-10-01,NaT,29,1,73.0,91.0,91.0,monthly,united_kingdom,construction_&_contracting
84665,2017-07-01,NaT,20,1,123.0,123.0,123.0,monthly,canada,landscaping_contractor
90179,2017-09-01,NaT,18,1,134.0,123.0,123.0,monthly,united_states,other_industry
53092,2016-06-01,2016-12-01,6,0,68.0,68.0,0.0,monthly,united_states,other
29402,2015-03-01,2015-09-01,6,0,39.0,39.0,0.0,monthly,united_states,lawn_care_&_lawn_maintenance
37353,2016-12-01,2017-02-01,2,0,86.0,95.0,0.0,monthly,united_kingdom,other
67599,2016-12-01,2017-02-01,2,0,59.0,59.0,0.0,monthly,united_states,lawn_care_&_lawn_maintenance
52643,2016-06-01,2017-12-01,18,0,100.0,68.0,0.0,monthly,canada,hvac
27456,2015-01-01,2016-02-01,13,0,48.0,39.0,0.0,monthly,united_states,electrical_contractor
44796,2016-01-01,2018-10-01,33,0,73.0,68.0,0.0,monthly,australia,pressure_washing_service
8852,2014-01-01,NaT,62,1,98.0,233.0,233.0,monthly,united_states,other_industry
10272,2014-03-01,2015-07-01,16,0,39.0,39.0,0.0,monthly,united_states,lawn_care_&_lawn_maintenance
42376,2015-11-01,2016-03-01,4,0,68.0,68.0,0.0,monthly,united_kingdom,plumbing
12160,2014-04-01,NaT,59,1,210.0,156.0,156.0,monthly,united_states,plumbing
14082,2014-05-01,NaT,58,1,44.0,80.0,80.0,monthly,canada,residential_cleaning
64672,2016-11-01,2017-01-01,2,0,127.0,113.0,0.0,monthly,canada,residential_cleaning
956,2012-08-01,NaT,79,1,46.0,77.0,77.0,monthly,canada,lawn_care_&_lawn_maintenance
92604,2017-10-01,NaT,17,1,89.0,89.0,89.0,monthly,united_kingdom,residential_cleaning
8562,2014-01-01,NaT,62,1,39.0,39.0,39.0,monthly,united_states,lawn_care_&_lawn_maintenance
7908,2013-12-01,2018-01-01,49,0,44.0,39.0,0.0,monthly,canada,painting
66524,2017-01-01,2018-02-01,13,0,68.0,77.0,0.0,monthly,other_country,residential_cleaning
30194,2015-05-01,2016-02-01,9,0,48.0,48.0,0.0,monthly,united_states,lawn_care_&_lawn_maintenance
22362,2014-10-01,NaT,53,1,62.0,48.0,48.0,monthly,united_states,lawn_care_&_lawn_maintenance
...,...,...,...,...,...,...,...,...,...,...
37704,2015-08-01,2017-03-01,19,0,68.0,68.0,0.0,monthly,united_states,other_industry
72206,2017-02-01,2019-01-01,23,0,59.0,68.0,0.0,monthly,united_kingdom,lawn_care_&_lawn_maintenance
32705,2015-05-01,2017-06-01,25,0,48.0,48.0,0.0,monthly,united_states,plumbing
70298,2017-02-01,2017-03-01,1,0,77.0,77.0,0.0,monthly,united_states,construction_&_contracting
67884,2017-01-01,2017-02-01,1,0,113.0,113.0,0.0,monthly,united_states,other_industry
31152,2015-04-01,2015-12-01,8,0,39.0,59.0,0.0,monthly,united_states,lawn_care_&_lawn_maintenance
96171,2017-12-01,NaT,15,1,129.0,129.0,129.0,annual,united_states,pest_control
2259,2013-04-01,2017-09-01,53,0,29.0,47.0,0.0,monthly,canada,lawn_care_&_lawn_maintenance
20120,2014-09-01,2017-09-01,36,0,39.0,48.0,0.0,monthly,united_states,other_industry
39470,2015-09-01,2017-09-01,24,0,64.0,64.0,0.0,monthly,united_states,other_industry
25345,2014-12-01,NaT,51,1,39.0,57.0,57.0,monthly,united_states,lawn_care_&_lawn_maintenance
61046,2016-09-01,NaT,30,1,86.0,95.0,95.0,monthly,united_states,landscaping_contractor
83163,2017-09-01,NaT,18,1,67.0,67.0,67.0,annual,united_states,hvac
28323,2015-03-01,NaT,48,1,80.0,116.0,116.0,monthly,united_kingdom,electrical_contractor
53250,2016-07-01,2017-12-01,17,0,73.0,64.0,0.0,monthly,canada,pressure_washing_service
22607,2014-10-01,NaT,53,1,66.0,57.0,57.0,monthly,united_states,other_industry
87344,2017-08-01,NaT,19,1,76.0,76.0,76.0,annual,united_states,other
27794,2015-02-01,NaT,49,1,44.0,53.0,53.0,monthly,united_states,lawn_care_&_lawn_maintenance
87067,2017-08-01,2018-07-01,11,0,87.0,117.0,0.0,monthly,united_states,construction_&_contracting
52480,2016-06-01,2016-11-01,5,0,82.0,59.0,0.0,monthly,united_states,hvac
16077,2014-07-01,2016-10-01,27,0,39.0,39.0,0.0,monthly,united_states,other_industry
34215,2015-06-01,2016-06-01,12,0,66.0,66.0,0.0,annual,australia,electrical_contractor
44217,2016-01-01,NaT,38,1,131.0,77.0,77.0,monthly,canada,commercial_cleaning
56205,2016-08-01,2016-08-01,1,0,147.0,147.0,0.0,annual,canada,other
9995,2014-04-01,2015-12-01,20,0,44.0,39.0,0.0,monthly,other_country,residential_cleaning
12416,2014-04-01,2018-12-01,56,0,53.0,53.0,0.0,monthly,united_states,electrical_contractor
26138,2015-01-01,2015-03-01,2,0,44.0,39.0,0.0,monthly,united_states,other_industry
2356,2013-04-01,2015-06-01,26,0,29.0,56.0,0.0,monthly,united_kingdom,renovations
70752,2017-02-01,NaT,25,1,77.0,59.0,59.0,monthly,united_states,other_industry
76328,2017-04-01,2018-01-01,9,0,78.0,90.0,0.0,monthly,united_states,pest_control